<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/WhatsApp Image 2024-05-23 at 21.30.26.jpg" alt="Mamad" class="img-thumbnail
            rounded-circle" width="200"  >
            <h1 class="display-4">Mamad</h1>
            <p class="lead">Mahasiswa | Pengangguran</p>
        </div>
    </div>
</div>
